In [2]:
# Dependencies
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import string

In [17]:
# Read the csv files
city_data = pd.read_csv("raw_data/city_data.csv")
ride_data = pd.read_csv("raw_data/ride_data.csv")
city_data.head()
x = city_data.loc[city_data['city'] == 'Port James']
x
city_data['city'].value_counts()

Port James            2
Edwardsbury           1
West Brandy           1
West Alexis           1
Alyssaberg            1
West Paulport         1
Spencertown           1
South Jennifer        1
New Johnbury          1
Rodriguezview         1
Matthewside           1
Sandymouth            1
West Tony             1
Kimberlychester       1
Thomastown            1
New Maryport          1
Sarahview             1
Jeffreyton            1
Pamelahaven           1
Prattfurt             1
Carrollbury           1
Port Johnstad         1
Lisatown              1
New Jessicamouth      1
Jasonfort             1
East Erin             1
South Joseph          1
South Roy             1
Aprilchester          1
West Jefferyfurt      1
                     ..
Kennethburgh          1
North Whitney         1
Campbellport          1
Arnoldview            1
West Kevintown        1
Travisville           1
Shelbyhaven           1
South Bryanstad       1
New Michelleberg      1
South Josephville     1
Maryside              1
Jacobfort             1
Lake Brenda           1
Port Samantha         1
New David             1
Hernandezshire        1
West Oscar            1
Wiseborough           1
Johnland              1
West Evan             1
Port Guytown          1
Lake Jennaton         1
New Andreamouth       1
New Samanthaside      1
Webstertown           1
North Tara            1
New Cindyborough      1
South Gracechester    1
Carrollfort           1
Fosterside            1
Name: city, Length: 125, dtype: int64

In [4]:
# Check for NAN values and replace with 0
city_data.fillna(value=0)
city_data.head()
#len(city_data)

             city  driver_count   type
0      Kelseyland            63  Urban
1      Nguyenbury             8  Urban
2    East Douglas            12  Urban
3   West Dawnfurt            34  Urban
4  Rodriguezburgh            52  Urban

In [13]:
ride_data.fillna(value=0)
ride_data.head()
y = ride_data.loc[ride_data['city'] == 'Port James']
# y['fare'].count()
y['fare'].mean()
len(y)

32

In [6]:
# Merge both the DFs into one
cityride_df = city_data.merge(ride_data, how="outer", on="city")
cityride_df = cityride_df[["date", "city", "type", "driver_count", "fare", "ride_id"]]
cityride_df.head()
#len(cityride_df)

h = cityride_df.loc[cityride_df['city'] == 'Port James']
w =h['ride_id'].unique()
i =  cityride_df.loc[cityride_df['ride_id'] == 2259499336994]
#len(w)
#h
i

,date,city,type,driver_count,fare,ride_id
1902,2016-12-04 06:16:36,Port James,Suburban,15,15.77,2259499336994
1934,2016-12-04 06:16:36,Port James,Suburban,3,15.77,2259499336994

### PYBER ANALYSIS

In [7]:
# Groupby on city
cityride_grouped_df = cityride_df.groupby(["city"])

# Average fare per city by using groupby object
average_fare = cityride_grouped_df["fare"].mean()

# Total number of rides per city
total_rides_city = cityride_grouped_df["ride_id"].count()

# Total number of driver per city
driver_count = city_data[["city", "driver_count"]].set_index("city")
#####test1 = driver_count.loc[["Port James"]]
driver_count_grouped = driver_count.groupby(["city"])
driver_count_grouped_df = pd.DataFrame(driver_count_grouped['driver_count'].sum())
#####driver_count_grouped_df.loc['Port James']
#####len(driver_count_grouped_df)  

# City Type (Urban, Suburban, Rural)
city_type= city_data[["city", "type"]].set_index("city")
#####test1 = city_type.loc[["Port James"]]
city_type_grouped = city_type.groupby(["city", "type"])
city_type_grouped_df = pd.DataFrame(city_type_grouped['type'].size())
del city_type_grouped_df['type']
city_type_grouped_df = city_type_grouped_df.reset_index(level=1)
#####city_type_grouped_df.loc['Port James']
#####len(city_type_grouped_df) 
    
average_fare.head()
#total_rides_city
#final_df
# driver_count_grouped_df.head()
# city_type_grouped_df.head(100)

city
Alvarezhaven    23.928710
Alyssaberg      20.609615
Anitamouth      37.315556
Antoniomouth    23.625000
Aprilchester    21.981579
Name: fare, dtype: float64

In [8]:
results_df = pd.DataFrame({"Average Fare":average_fare, "Rides Per City":total_rides_city})
results_df.head()

              Average Fare  Rides Per City
city
Alvarezhaven     23.928710              31
Alyssaberg       20.609615              26
Anitamouth       37.315556               9
Antoniomouth     23.625000              22
Aprilchester     21.981579              19

In [9]:
final_results_df = results_df.join([city_type_grouped_df, driver_count_grouped_df])
final_results_df.head()

              Average Fare  Rides Per City      type  driver_count
city
Alvarezhaven     23.928710              31     Urban            21
Alyssaberg       20.609615              26     Urban            67
Anitamouth       37.315556               9  Suburban            16
Antoniomouth     23.625000              22     Urban            21
Aprilchester     21.981579              19     Urban            49

In [10]:
# cityride_df = cityride_df.loc[cityride_df["city"] == "Fosterside",:]
# #cityride_df["city"].unique()
# cityride_df.head()

In [11]:
z = final_results_df.loc[["Port James"]]
z

            Average Fare  Rides Per City      type  driver_count
city
Port James     31.806562              64  Suburban            18